/* =======Extra small devices (portrait phones, less than 576px)
Bootstrap has no name . Need to work externel css
can't use internal css  ==============*/
@media (max-width: 575.98px) {
.t-img-border {
margin: 17px auto;
}
.hr_extra_2 {
margin: 0 auto;
}
body{
}
.common_h1 {
font-size: 20px !important;
}
.common_hr{
margin: 24px auto;
}
/*======= Header Edits ==============*/
.logo{
width: 150px;
}
.menu ul li a{
margin-left: -8px;
display: inline-block;
}
.menu ul li a:hover{
color: #f05c5c !important;
background-color:  #ffd338 !important;
}
.U_dropdown-menu {
top: 210%;
min-width: 213px;
left: -2px;
}
.S_dropdown-menu {
top: 117%;
min-width: 213px;
left: 9px;
}
/*=========== Banner edits =============*/
.h_banner h1 {
margin-top: 138px;
margin-bottom: 115px;
font-size: 30px;
}
.scroll{
display: none;
}
/*=========== Desire edits ================*/
.desire-content-left {
margin-bottom: 38px;
text-align: center;
}
.desire-content-left p {
margin-top: 20px;
}
.desire-content-left h3{
text-align: center;
}
.desire-content-left-hr {
width: 172px;
background-color: #dddddd;
height: 2px;
margin: 0 auto;
}
.desire-content-right img {
border-radius: 10px;
margin-left: 11px;
margin-bottom: 22px;
width: 95%;
}
.desire {
padding: 15px 0;
}
.desire_wrap {
margin-bottom: 28px;
margin-top: 20px !important;
}
/*=========  Courses Edits =============*/
.courses{
padding-top: 45px;
padding-bottom: 10px;
}
.common_h1{
font-size: 22px;
}
.round {
margin-bottom: 30px;
}
/*========== Button edits ===========*/
.card{
margin-bottom: 25px;
}
.card:hover{
transform: none;
}
.feature{
padding: 35px 0;
}
.feature-wrap h2 {
margin-bottom: 28px;
}
.m-img-wrap img {
margin-left: 7px;
}
.button-start {
margin-top: 17px;
}
.memories {
padding: 46px 0;
}
.m-button {
margin-top: 0px;
}
.teacher-item-1, .teacher-item-2{
margin-bottom: 0px;
text-align: center;
}
.teacher-wrap {
margin-bottom: 0;
margin-top: 30px !important;
}
.vertical img {
margin-top: 25px;
}
.t-p-1 p {
line-height: 22px;
}
.teachers-list {
padding: 50px 0;
}
.teacher-item {
text-align: center;
}
.t-border {
margin: 0 auto;
}
.follow {
margin-bottom: 0px !important;
}
.credit {
padding: 50px 0;
}
.timeline {
padding: 25px 0;
text-align: center;
}
.hr_extra {
margin-bottom: 35px;
}
.t-img-body h4 {
font-size: 27px;
}
.t-img-wrap{
display: block;
margin-bottom: 50px;
}
.hr_extra {
margin: 0 auto;
margin-bottom: 40px;
}
.top-footer {
padding: 50px 0;
text-align: center;
}
.t-img-border-2 {
border-top: 5px dashed;
width: 200px;
margin: 20px auto;
}
.f-p-2{
margin: 40px 0;
}
.f-p-3{
margin-bottom: 40px;
}
.footer ul li a {
font-size: 11px;
margin-right: -26px;
}
.top-footer {
padding: 20px 0;
}
.f-right ul li p {
margin-top: -2px;
}
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
.common_hr {
margin-bottom: 30px;
}
.t-img-border {
margin: 17px auto;
}
.common_h1 {
font-size: 20px !important;
}
/*======= Header Edits ==============*/
.logo{
width: 150px;
}
.menu ul li a{
margin-left: -8px;
display: inline-block;
}
.menu ul li a:hover{
color: #f05c5c !important;
background-color:  #ffd338 !important;
}
.U_dropdown-menu {
top: 210%;
min-width: 213px;
left: -2px;
}
.S_dropdown-menu {
top: 117%;
min-width: 213px;
left: 9px;
}
/*=========== Banner edits =============*/
.h_banner h1 {
margin-top: 200px;
margin-bottom: 200px;
font-size: 30px;
}
.scroll{
display: none;
}
/*=========== Desire edits ================*/
.desire-content-left {
margin-bottom: 38px;
text-align: center;
}
.desire-content-left p {
margin-top: 20px;
}
.desire-content-left h3{
text-align: center;
}
.desire-content-left-hr {
width: 172px;
background-color: #dddddd;
height: 2px;
margin: 0 auto;
}
.desire-content-right img {
border-radius: 10px;
margin-left: 11px;
margin-bottom: 22px;
width: 95%;
}
.desire {
padding: 15px 0;
}
.desire_wrap {
margin-bottom: 28px;
margin-top: 20px !important;
}
/*=========  Courses Edits =============*/
.courses{
padding-top: 45px;
padding-bottom: 10px;
}
.common_h1{
font-size: 22px;
}
.round {
margin-bottom: 30px;
}
/*========== Button edits ===========*/
.card{
margin-bottom: 25px;
}
.card:hover{
transform: none;
}
.feature{
padding: 35px 0;
}
.feature-wrap h2 {
margin-bottom: 28px;
}
.m-img-wrap img {
margin-left: 7px;
}
.button-start {
margin-top: 17px;
}
.memories {
padding: 46px 0;
}
.m-button {
margin-top: 0px;
}
.teacher-item-1, .teacher-item-2{
margin-bottom: 0px;
text-align: center;
}
.teacher-wrap {
margin-bottom: 0;
margin-top: 30px !important;
}
.vertical img {
margin-top: 25px;
}
.t-p-1 p {
line-height: 22px;
}
.teachers-list {
padding: 50px 0;
}
.teacher-item {
text-align: center;
}
.t-border {
margin: 0 auto;
}
.follow {
margin-bottom: 0px !important;
}
.credit {
padding: 50px 0;
}
.timeline {
padding: 25px 0;
text-align: center;
}
.hr_extra {
margin-bottom: 35px;
}
.t-img-body h4 {
font-size: 27px;
}
.t-img-wrap{
display: block;
margin-bottom: 50px;
}
.hr_extra {
margin: 0 auto;
margin-bottom: 40px;
}
.top-footer {
padding: 50px 0;
text-align: center;
}
.t-img-border-2 {
border-top: 5px dashed;
width: 200px;
margin: 20px auto;
}
.f-p-2{
margin: 40px 0;
}
.f-p-3{
margin-bottom: 40px;
}
.footer ul li a {
font-size: 11px;
margin-right: -26px;
}
.top-footer {
padding: 20px 0;
}
.f-right ul li p {
margin-top: -2px;
}
.moments{
text-align: center;
}
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
.menu ul li a {
padding: 0 13px !important;
}
.U_dropdown-menu {
top: 217%;
min-width: 255px;
left: 9px;
}
.S_dropdown-menu {
top: 117%;
min-width: 217px;
left: 9px;
}
.desire {
padding: 0px 0;
}
.desire-content-right img {

margin-top: 35px;
}
.curve-button {

margin-bottom: 55px;
}
.courses {
padding: 68px 0;
}
.feature-wrap h2 {
margin-bottom: 50px;
}
.card {
margin-bottom: 42px;
}
.button-start {
margin-top: 13px;
}
.memories {
padding: 60px 0;
}
.memory-button{
margin-bottom: 0 !important;
}
.teachers-list {
padding: 60px 0;
}
.t-p-1 p {
margin-bottom: 0;
}
.common_h1 {
margin-top: 20px;
}
.t-border {
width: 134px;
}
.credit {
padding: 60px 0;
}
.timeline {
padding: 60px 0;
}
.t-img-wrap {
display: block;
}
.timeline-1{
text-align: center;
}
.t-img-border {
margin: 10px auto;
}
.top-footer {
padding: 60px 0;
}
.f-p-1,.f-p-2,.f-p-3,.f-p-4{
text-align: center;
}
.t-img-border-2 {
margin: 20px auto;
}
.f-p-3,.f-p-4{
margin-top: 20px;
}
.footer ul li a {
margin-right: -20px;
font-size: 14px;
}
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
.menu ul li a {
padding: 0 13px !important;
}
.U_dropdown-menu {
top: 217%;
min-width: 255px;
left: 9px;
}
.S_dropdown-menu {
top: 117%;
min-width: 217px;
left: 9px;
}
.desire {
padding: 0px 0;
}
.desire-content-right img {

margin-top: 35px;
}
.curve-button {

margin-bottom: 55px;
}
.courses {
padding: 68px 0;
}
.feature-wrap h2 {
margin-bottom: 0px;
}
.card {
margin-bottom: 42px;
}
.button-start {
margin-top: 13px;
}
.memories {
padding: 60px 0;
}
.memory-button{
margin-bottom: 0 !important;
}
.teachers-list {
padding: 60px 0;
}
.t-p-1 p {
margin-bottom: 0;
}
.common_h1 {
margin-top: 20px;
}
.t-border {
width: 134px;
}
.credit {
padding: 60px 0;
}
.timeline {
padding: 60px 0;
}
.t-img-wrap {
display: block;
}
.timeline-1{
text-align: center;
}
.t-img-border {
margin: 10px auto;
}
.top-footer {
padding: 60px 0;
}
.f-p-1,.f-p-2,.f-p-3,.f-p-4{
text-align: center;
}
.t-img-border-2 {
margin: 20px auto;
}
.f-p-3,.f-p-4{
margin-top: 20px;
}
.f-p-2 img{
margin-left: 40px;
}
}
.footer ul li a {
margin-right: -20px;
font-size: 14px;
}
.card-title {
letter-spacing: 0px;
}
.feature {
padding: 80px 0;
}
.common_hr {
margin-bottom: 40px;
}
}
/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}